


.FooterMain{

display: flex;
justify-content: space-between;

}

.footer-ul{
display:flex;
justify-content: space-between;
margin-left: 1rem;
}

li{
margin-right: 2rem;
}

ul {
    list-style: none;
}