/* .Navbar-main{
    display: flex;
flex-direction: row;
    align-items: start;
    gap: 10px;
}
.Navbar-main a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(98, 98, 218);
}



.active{
background-color: blueviolet;
} */

/* Navbar Styles */
/* .HeaderMain {
  min-height: 10vh;
  background-color: antiquewhite;
} */

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.Logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: rgb(98, 98, 218);
}

.ToggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: rgb(98, 98, 218);
  display: none;
}

/* .CloseButton {
  display: block;
  position: absolute;
  top: 20px;
  right: 2px;
} */

.NavbarLinks {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
}

.NavbarLinks ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
  padding: 0;
}

.NavbarLinks li {
  margin-right: 20px;
}

.NavbarLinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(233, 233, 240);
  transition: color 0.3s ease-in-out;
}

.ShowMenu {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: transparent;
  
  z-index: 100;
}

.ShowMenu ul {
  flex-direction: column;
}

.ShowMenu li {
  margin-right: 0;
}

@media (max-width: 768px) {
  .ToggleButton {
    display: block;
  }

  .NavbarLinks {
    display: none;
  }

  .ShowMenu {
    display: block;
  }
}

