.HeaderMain {
  min-height: 10vh;
  background-color: antiquewhite;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.Logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: rgb(98, 98, 218);
}

.ToggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: rgb(98, 98, 218);
  display: none;
}

.CloseButton {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.NavbarLinks {
  display: flex;
justify-content: flex-end;
  align-items: center;
  list-style: none;
  
  padding: 0;
}

.NavbarLinks ul {
  display: flex;
position: relative;
right: 1rem;
  list-style: none;
  margin-right: 1rem;
  padding: 0;

}

.NavbarLinks li {
  margin-right: 1rem;
}

.NavbarLinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(248, 248, 253);
  transition: color 0.3s ease-in-out;
}

.ShowMenu {
  display: none;
  position: absolute;
  top: 50px;
  right: .5rem;
  
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.ShowMenu ul {
  flex-direction: column;
}

.ShowMenu li {
  margin-right: 0;
}

@media (max-width: 768px) {
  .ToggleButton {
    display: block;
  }

  .NavbarLinks {
    display: none;
  }

  .ShowMenu {
    display: block;
  }
}
