.HeaderMain {
    min-height: 15vh;
    background-color: black;
    position: relative;
}

.Navbar-main a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(98, 98, 218);
}