.carousel {
display: flex;


  width: 100%;
  max-width: 800px; 
height: 100%;
  margin: 0 auto;
}

.carousel-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  width: 100%;
height: 100%;
  max-width: 800px; 
object-fit: cover;
}

.carousel-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;

}

.carousel-image img {
  width: 100%;
  
  height: 100%; 
  object-fit: cover;
}

.cardName{
background-color:blue;

width: 100%;
}

@media only screen and (min-width:574px) {

.carousel-slide{
flex-direction: row;

}


.carousel-slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column;
  width: 100%;
height: 100%;
  max-width: 800px; 
object-fit: cover;
}

}





.carousel {
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #c9c60a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 20px; /* Adjust the distance from the left side */
}

.carousel-button.next {
  right: 20px; /* Adjust the distance from the right side */
}

@media (min-width: 920px){

.carousel-button.prev {
  left: -60px; /* Adjust the distance from the left side */
}

.carousel-button.next {
  right:-60px; /* Adjust the distance from the right side */
}


}
